<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title %> </title>
    <!--Boostrap 4-->
    
    <!--css perzonalizado-->
    <link rel="stylesheet" href="css/css.css">
    <!--Icons-->
   <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
</head>

</body>
</html>